<aside class="sidebar">

  <div class="sidebar__brand">

    <div class="sidebar__logo">
      <span>Λ</span>
    </div>

  </div>


  <nav class="sidebar__nav">

    <a
      routerLink="/dashboard"
      routerLinkActive="sidebar__item--active"
      class="sidebar__item"
    >

      <span class="sidebar__icon">
        ▦
      </span>

      <span class="sidebar__text">
        Tablero
      </span>

    </a>


    <a
      routerLink="/contacts"
      routerLinkActive="sidebar__item--active"
      class="sidebar__item"
    >

      <span class="sidebar__icon">
        ⏳
      </span>

      <span class="sidebar__text">
        Embudos
      </span>

    </a>


    <a
      routerLink="/contacts-list"
      routerLinkActive="sidebar__item--active"
      class="sidebar__item"
    >

      <span class="sidebar__icon">
        ●
      </span>

      <span class="sidebar__text">
        Contactos
      </span>

    </a>


    <a
      routerLink="/reports"
      routerLinkActive="sidebar__item--active"
      class="sidebar__item"
    >

      <span class="sidebar__icon">
        ▥
      </span>

      <span class="sidebar__text">
        Informes
      </span>

    </a>


    <a
      routerLink="/settings"
      routerLinkActive="sidebar__item--active"
      class="sidebar__item"
    >

      <span class="sidebar__icon">
        ⚙
      </span>

      <span class="sidebar__text">
        Ajustes
      </span>

    </a>

  </nav>

</aside>