<aside class="sidebar">

  <div class="sidebar__brand">

    <div class="sidebar__logo">
      <img src="../../../../public/ico.png" alt="logo">
    </div>

  </div>


  <nav class="sidebar__nav">

    <a
      [routerLink]="['/home']"
      routerLinkActive="sidebar__item--active"
      class="sidebar__item"
    >

      <span class="sidebar__icon">
        ⏳
      </span>

      <span class="sidebar__text">
        Tablero
      </span>

    </a>

    @if (!this.meRol('ROLE_USER')) {

      <a
        [routerLink]="['/whatsapp-embudo']"
        routerLinkActive="sidebar__item--active"
        class="sidebar__item"
      >
  
        <span class="sidebar__icon">
          ▦
        </span>
  
        <span class="sidebar__text">
          Embudo
        </span>
  
      </a>

    }

    @if (this.meRol('ROLE_ADMIN')) {

      <a
        [routerLink]="['/user-management']"
        routerLinkActive="sidebar__item--active"
        class="sidebar__item"
      >
  
        <span class="sidebar__icon">
          ●
        </span>
  
        <span class="sidebar__text">
          Usuarios
        </span>
  
      </a>
      
    }


    <a
      [routerLink]="['/attendance']"
      routerLinkActive="sidebar__item--active"
      class="sidebar__item"
    >

      <span class="sidebar__icon">
        ▥
      </span>

      <span class="sidebar__text">
        Asistencia
      </span>

    </a>


    <!-- <a
      routerLink="/settings"
      routerLinkActive="sidebar__item--active"
      class="sidebar__item"
    >

      <span class="sidebar__icon">
        ⚙
      </span>

      <span class="sidebar__text">
        Ajustes
      </span>

    </a> -->

  </nav>

</aside>