<header class="topbar">

  <!-- BUSCADOR -->
  <div class="topbar__search">

    <span class="topbar__search-icon">
      ⌕
    </span>

    <input
      type="text"
      placeholder="Buscar tus contactos..."
    />

  </div>

  <button class="notification-button">

  🔔

    @if (unreadCount > 0) {
      <span class="notification-badge">
        {{ unreadCount }}
      </span>
    }

  </button>

  <!-- USUARIO -->
  <div class="topbar__user">

    <div class="topbar__avatar">
      👤
    </div>

    <span class="topbar__username">
      {{ this.nombre }}
    </span>

    <!-- BOTÓN DEL MENÚ -->
    <div class="topbar__menu">

      <button
        type="button"
        class="topbar__arrow"
        (click)="toggleMenu()"
        [attr.aria-expanded]="menuAbierto"
        aria-label="Abrir menú de usuario"
      >
        ⌄
      </button>


      <!-- MENÚ DESPLEGABLE -->
      <div
        class="topbar__dropdown"
        *ngIf="menuAbierto">

        <button
          type="button"
          class="topbar__logout"
          (click)="cerrarSesion()"
        >
          <span class="topbar__logout-icon">
            ↪
          </span>

          <span>
            Cerrar sesión
          </span>
        </button>

      </div>

    </div>

  </div>

</header>